body{
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
}

.qr-code-component{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 270px;
  padding: 15px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  margin: 100px auto;
}

.qr-code img{
  width: 270px;
  border-radius: 5px;
}

.qr-code-content{
  padding: 5px;
}

.qr-code-content h2{
  padding: 0 10px;
  font-size: 18px;
  margin: 5px;
}

.qr-code-content p{
  color:rgb(163, 163, 163);
  font-size: 14px;
  padding: 10px;
  font-weight: 400;
  margin: 5px;
}